.genre__container {
  margin-top: 55px;
  width: 100%;
}

.genre__text > h2 {
  font-weight: 600;
  font-size: var(--font-2);
  color: var(--gender--title);
}

.genre__filter {
  margin-top: 25px;
  display: flex;
  gap: 37px;
  flex-wrap: wrap;
  width: 100%;
}

.genre__button {
  padding: 5px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-1);
  border: 1px solid var(--genre-button-color);
  background-color: var(---genre-button-color);
  color: var(--gender--title);
  font-size: var(--font-3);
  font-weight: 500;
  cursor: pointer;
}

.genre__button:focus {
  background-color: var(--genre-button-focus);
  color: var(--color-text-focus);
  border: 1px solid var(--border-button-focus);
}

.genre__button:hover {
  background-color: var(--genre-button-focus);
  color: var(--color-text-focus);
  border: 1px solid var(--border-button-focus);
}
