.price__container {
  margin-top: 55px;
  width: 100%;
}

.price__range {
  display: flex;
  justify-content: space-between;
}

.price__range > h2 {
  font-weight: 600;
  font-size: var(--font-2);
  color: var(--gender--title);
}

#priceToSearch {
  font-weight: 500;
  font-size: var(--font-2);
  color: var(--gender--title);
}

#range__input {
  margin-top: 27px;
  appearance: none;
  background-color: rgb(184, 142, 223);
  outline: none;
  width: 100%;
  height: 10px;
  border-radius: 9px;
}

#range__input::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 5px solid blueviolet;
  background-color: var(--color-white-fixed);
  cursor: pointer;
}
